<div class="container">
  <div class="col-md-8 col-md-offset-2"
       style="margin-top: 10%; height: 450px; background-color: rgba(255, 255, 255, 0.8);">
    <div class="row" id="center">
      <h2>PACBIO RS II</h2>
      <div>
        <div class="node">
          <p>
            The PacBio RS II is a Single Molecule, Real-Time (SMRT®) DNA Sequencing System that provides the highest
            consensus accuracy and longest read lengths of any available sequencing technology.
            <a href="http://www.pacificbiosciences.com/products/smrt-technology/smrt-sequencing-advantage/">SMRT Sequencing</a>
            is ideal for <a href="http://www.pacificbiosciences.com/applications/denovo/"><i>de novo assembly</i></a>,
            <a href="http://www.pacificbiosciences.com/applications/target/">characterization of genetic variation</a>,
            <a href="http://www.pacificbiosciences.com/applications/base_modification/">methylation analysis</a>,
            <a href="http://www.pacificbiosciences.com/applications/microbiology/">microbiology studies</a>, and more.
            <br/>
            <br/>
            The instrument features high performance optics, automated liquid handling, and an environmental control
            center, all directed through an intuitive touchscreen interface. The computational brain responsible for
            primary data analysis, called the Blade Center, is also included. This allows for seamless integration of
            performance enhancements through chemistry and software advances.
          </p>

          <p>
            The instrument contains three primary user access points:
          </p>
          <ul class="normalli">
            <li>
              <a href="http://www.pacificbiosciences.com/products/software/instrument/">RS Touch</a> uses a touchscreen interface to start and monitor
              runs at the instrument.
            <li>
              Reagent and Sample Drawer for plate loading.
            <li>
              SMRT Cell and Tip Drawer for consumables loading.
          </ul>
          <p>
            Throughout the DNA sequencing process, the PacBio RS II uses <a href="http://www.pacificbiosciences.com/products/smrt-technology/">SMRT
            Technology</a> to record light pulses emitted as a byproduct of nucleotide incorporation. These signals are
            delivered in real time to the primary analysis pipeline, housed entirely on the Blade Center.
            <br/>
            <br/>
            Additional features of the PacBio RS II include:
          </p>
          <ul class="normalli">
            <li>
              Intuitive run setup tools
            <li>
              Workflow optimization tools
            <li>
              Error-proof instrument loading
            <li>
              Robotic workflow management
            <li>
              Run size flexibility – from 1 to 16 SMRT Cells per run
          </ul>
        </div>
      </div>
    </div>
    <div class="row" align="center">
      <button class="btn btn-lg btn-success" ng-click="editPlate()">Get Started<i class="fa fa-long-arrow-right" style="padding-left: 6px;"></i></button>
    </div>
  </div>
</div>